<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.quantumrand.cordova.plugin.airpush"
      version="0.0.1">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>cordova-airpush-plugin</name>
    <description>Cordova AirPush Plugin</description>
    <author>QuantumRand</author>
    <license>MIT</license>
    <keywords>phonegap,cordova,airpush,ads</keywords>
 
 
    <js-module src="www/AirPush.js" name="airPush">
        <clobbers target="airPush" />
    </js-module>
    
 
    <!-- android -->
    <platform name="android">
		<dependency id="https://github.com/QuantumRand/airpush-cordova-sdk.git" />
     </platform>     
</plugin>
