<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-airpush"
    version="1.0.120">
	
    <name>Cordova airpush plugin</name>
    <description>show leaderboard and achievements (google play game and game center, SDK)</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>	
    <license>MIT</license>
    <keywords>cordova,plugin,game,google play game,game center</keywords>
    <repo>https://github.com/matrixreal/cordova-airpush-plugin</repo>
    <engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
 
    <js-module src="www/AirPush.js" name="airPush">
        <clobbers target="airPush" />
    </js-module>
    
 
    <!-- android -->
    <platform name="android">
		<dependency id="com.yrkfgo.assxqx4.AirpushPlugin" url="https://github.com/matrixreal/airpush-cordova-sdk" />
     </platform>     
</plugin>
